<script src="/libs/tinymce/tinymce.min.js"></script>
<div class="flex justify-between items-center">
  <h1 class="font-bold">Add blog/ Thêm bài viết</h1>
  <button
  id="btn_create_blog"
  class="font-bold px-4 py-3 border border-gray-300 bg-blue-500 text-white rounded-lg hover:cursor-pointer"
  >
  Add blog
</button>
</div>
<div class="w-full mx-auto px-4 py-6">
  <div class="grid grid-cols-12 gap-4">
    <!-- MAIN CONTENT -->
    <main class="col-span-9 rounded-lg p-4 shadow">
      <h2 class="text-[16px] font-bold mb-3">Title</h2>
      <input
        type="text"
        name="title"
        class="px-4 py-3 border border-gray-300 w-full rounded-lg"
        placeholder="Title..."
      />
      <h2 class="text-[16px] font-bold mb-3">Slug</h2>
      <input
        type="text"
        name="slug"
        class="px-4 py-3 border border-gray-300 w-full rounded-lg"
        placeholder="Slug..."
      />
      <h2 class="text-[16px] font-bold mb-3">Description</h2>
      <textarea
        name="desc"
        id=""
        class="px-4 py-3 w-full border border-gray-300 rounded-lg"
        placeholder="Enter Description..."
      ></textarea>
      <h2 class="text-xl font-bold mb-4">Nội dung bài viết</h2>
      <textarea name="content" id="editor" class="w-full">
Nội dung bài viết....</textarea
      >
    </main>
    <!-- RIGHT SIDEBAR -->
    <div class="right_sidebar col-span-3 rounded-lg p-4 shadow">
      <!-- <aside class="col-span-4 rounded-lg p-4 shadow"> -->
        <!-- <h3 class="font-semibold mb-3">Author</h3>
        <p class="text-sm">KienVu</p> -->
        <!-- <hr class="my-3" /> -->
        <h3 class="font-semibold mb-2">Status</h3>
        <select
          name=""
          id="status"
          class="w-full border rounded px-4 py-3 border-gray-300 text-sm"
          id=""
        >
          <option value="0">Draft</option>
          <option value="1">Publish</option>
        </select>
        <!--  -->
        <!-- image handle action -->
        <div class="image_action">
          <div class="flex justify-between items-center mt-3">
            <button
              class="w-full px-4 py-3 chooseImg rounded-lg border border-green-500"
            >
              Choose image
            </button>
            <input
              type="text"
              id="img_thumb"
              name="home_intro_img"
              value=""
              class="flex-3 img_input w-full px-4 py-3 border border-gray-300 rounded-lg hidden"
              placeholder="img"
            />
          </div>
          <div class="img_preview border border-gray-300 w-full h-[200px]">
            <img
              src="/<%#=(pc && pc.homepage)?pc.homepage?.intro_app?.img:''%>"
              alt=""
              class="w-full object-cover max-h-[200px]"
            />
          </div>
        </div>
        <!--  -->
      <!-- </aside> -->
      <!-- LEFT SIDEBAR -->
         <!-- <aside class=" rounded-lg p-4 shadow"> -->
            <h3 class="font-semibold mb-3">Category</h3>
            
            <!-- <ul class="space-y-2 text-sm">
                <li><input type="checkbox" name="" id="">Tech</li>
                <li><input type="checkbox" name="" id="">Design</li>
                <li><input type="checkbox" name="" id="">Life</li>
            </ul> -->
           <select name="" id="category_root" class="px-4 py-3 w-full border border-gray-300 rounded-lg">
            <option value="#">--choose category--</option>
            <%if(menu){%>
              <%Object.entries(menu).forEach(([root, cat])=>{%>
                <option value="<%=root%>"><%=root%></option>
              <%})%>
            <%}%>
           </select>
           <hr class="my-3">
           <!-- h-60 border border-gray-300 bg-transparent -->
           <ul id="sub_category_list" class="overflow-y-auto  rounded-lg shadow-lg">

           </ul>

         <!-- </aside> -->
    </div>
  </div>
</div>
<!-- =================MODAL===================== -->
<div
  id="gallery_modal"
  class="fixed inset-0 bg-black/50 items-center hidden justify-center z-40"
>
  <div class="bg-white min-w-75 max-h-[80vh] rounded p-4 overflow-y-auto">
    <div class="header flex justify-between mb-4">
      <h2>Chon anh</h2>
      <button onclick="closeChooseImgModal()">X</button>
    </div>
    <!--  -->
    <div id="imgList" class="grid grid-cols-4 gap-4"></div>
  </div>
</div>
<!-- SCRIPT HERE -->
<script>
  tinymce.init({
    selector: "#editor",
    height: 500,
    license_key: "gpl", //important
    // menubar: false,
    plugins: "lists link image code",
    toolbar:
      "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | code",
  });
  //
  const selectRoot = document.querySelector("#category_root");
  selectRoot.addEventListener("change", function () {
    const root = this.value;
    if (!root) {
      console.log("chua chon option");
      return;
    }
    getSubCategory(root);
  });
  function getSubCategory(name) {
    fetch(`/admin/category/get-menu/filter?root=${name}`, {
      method: "GET",
    })
      .then((res) => res.json())
      .then((res) => {
        console.log(res);
        let htmlString = "";
        htmlString += '<div class="p-4">';
        res.forEach((c) => {
          htmlString += `<li class="flex items-center gap-2">
        <input type="radio"
               name="sub_category"
               value="${c._id}">
        <span>${c.name}</span>
      </li>`;
        });
        htmlString += "</div>";
        document.querySelector("#sub_category_list").innerHTML = htmlString;
      })
      .catch((err) => console.log(err));
  }
  //
  document.querySelector("#btn_create_blog").addEventListener("click", () => {
    const root = document.querySelector("#category_root").value;

    // alert('submit bai viet')
    if (!root || root === "#") {
      alert("Vui lòng chọn category cha");
      return;
    }
    let choose_category = document.querySelector(
      '#sub_category_list input[name="sub_category"]:checked',
    );
    if (!choose_category) return;
    const payload = {
      category: choose_category.value,
      title: document.querySelector('input[name="title"]').value,
      slug: document.querySelector('input[name="slug"]').value,
      desc: document.querySelector('textarea[name="desc"]').value,
      content: tinymce.get("editor").getContent(),
      status: document.querySelector("#status").value,
      img: document.querySelector("#img_thumb").value,
    };
    console.log(payload);
    submitData(payload);
  });
  function submitData(payload) {
    fetch(`/admin/blog/add-blog`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },

      body: JSON.stringify(payload),
    })
      .then((res) => res.json())
      .then((res) => {
        console.log(res);
        if (res.success) {
          myNotification("Create success", "success");
          window.location.reload();
        }
      })
      .catch((err) => {
        console.log(err);
        myNotification("Create blog faield ", "danger");
        window.location.reload();
      });
  }
  // slug
  function slugify(text) {
    return text
      .toLowerCase()
      .normalize("NFD") // tách dấu tiếng Việt
      .replace(/[\u0300-\u036f]/g, "") // xoá dấu
      .replace(/đ/g, "d")
      .replace(/[^a-z0-9\s-]/g, "") // xoá ký tự đặc biệt
      .trim()
      .replace(/\s+/g, "-") // space → -
      .replace(/-+/g, "-"); // -- → -
  }

  const titleInput = document.querySelector('input[name="title"]');
  const slugInput = document.querySelector('input[name="slug"]');

  titleInput.addEventListener("input", () => {
    slugInput.value = slugify(titleInput.value);
  });
  //
  const chooseImgModal = document.querySelector("#gallery_modal");
  var ctaChooseImg = document.querySelectorAll(".chooseImg");
  let imgInputIsFocusing = null;

  function openChooseImgModal() {
    chooseImgModal.classList.remove("hidden");
    chooseImgModal.classList.add("flex");
  }
  function closeChooseImgModal() {
    chooseImgModal.classList.remove("flex");
    chooseImgModal.classList.add("hidden");
  }
  ctaChooseImg.forEach((el) => {
    el.addEventListener("click", (ev) => {
      console.log(el);
      loadImage();
      let input = el.closest(".image_action");
      imgInputIsFocusing = input;
      console.log("input ", input);
      openChooseImgModal();
    });
  });
  //
  function loadImage() {
    imgList.innerHTML = "Loading...";
    $.ajax({
      url: "/admin/gallery/image-getall",
      method: "GET",
      success: (res) => {
        if (res.success) {
          imgList.innerHTML = "";
          res.data.forEach((item) => {
            const img = document.createElement("img");
            img.src = "/" + item.path;
            img.className = `
            w-full h-32
            object-cover
            cursor-pointer rounded border
            hover:ring-4 hover:ring-blue-500
            transition
          `;

            img.onclick = () => selectImage(item.path);

            imgList.appendChild(img);
          });
        }
      },
      error: (xhr, status, err) =>
        console.log(xhr.responseJSON?.mess || "Server error"),
    });
  }
  //
  function selectImage(src) {
    imgInputIsFocusing.querySelector(".img_input").value = src;
    imgInputIsFocusing.querySelector(".img_preview img").src = "/" + src;
    closeChooseImgModal();
  }
  //
</script>
