<style>
    
.animated-gradient {
  font-size: 48px;
  font-weight: 800;
  background: linear-gradient(270deg, #6ee7b7, #60a5fa, #f472b6, #fbbf24);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
</style>

<div class="my-card" style="height: 70vh">
    <!-- <h1>Homepage</h1> -->
    <h1 style="margin-top: 30px;">
    Wellcome back: <span id="greeting" class="animated-gradient" style=" font-weight: 700;"></span>
    </h1>
    <div id="quote" style="opacity: 0.7; margin-top: 4px"></div>
</div>
<script>

    const userName = '<%=user.name%>'; // Lấy từ hệ thống login

    const quotes = [
        'Hôm nay là một cơ hội mới để bạn tỏa sáng!',
        'Làm điều bạn có thể, với những gì bạn có.',
        'Thành công bắt đầu từ một bước đi nhỏ.',
        'Đừng ngừng cố gắng — những điều tốt đẹp đang đến!',
        'Trên hành trình của bạn, luôn có ánh sáng phía trước.',
    ];

    const randomQuote = quotes[Math.floor(Math.random() * quotes.length)];

    document.getElementById('greeting').innerText =`${userName} 👋`;
    document.getElementById('quote').innerText = randomQuote;
</script>
