@import "tailwindcss";
@config "./tailwind.config.mjs";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.dataTables_wrapper input,
.dataTables_wrapper select {
  @apply border border-gray-300 rounded-lg px-3 py-2 text-sm;
}

.dataTables_paginate button {
  @apply px-3 py-1 border rounded-lg text-sm mx-0.5;
}

.dataTables_paginate .current {
  @apply bg-blue-600 text-white;
}

