<div class="p-6">
  <div class="flex items-center justify-between mb-6">
    <h1 class="text-2xl font-semibold">Service list/ Danh sách dịch vụ</h1>

    <a href="/admin/service/add"
       class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
      + Thêm dịch vụ
    </a>
  </div>

  <div class="overflow-x-auto bg-white rounded shadow">
    <table class="min-w-full text-sm">
      <thead class="bg-gray-100 text-left">
        <tr>
          <th class="px-4 py-3">Tên</th>
          <th class="px-4 py-3">Nổi bật</th>
          <th class="text-center px-4 py-3">Trạng thái</th>
          <th class="px-4 py-3 text-center">Hành động</th>
        </tr>
      </thead>
      <tbody id="serviceTable"></tbody>
    </table>
  </div>
</div>

<script>
fetch("/admin/service/list")
  .then(res => res.json())
  .then(res => {
    if(!res.success) return;

    const tbody = document.getElementById("serviceTable");
    tbody.innerHTML = "";

    res.data.forEach(s => {
      tbody.innerHTML += `
        <tr class="border-t hover:bg-gray-50">
          <td class="px-4 py-3 font-medium">${s.name}</td>
          <td class="px-4 py-3">${s.isFeatured ? '<i class="text-orange-500 fa-solid fa-fire"></i>' : ""}</td>
          <td class="text-center px-4 py-3">
            <span class=" px-2 py-1 rounded text-xs 
              ${s.status ? "text-green-700" : "text-gray-600"}">
              ${s.status ? '<i class="fa-regular fa-eye"></i>' : '<i class="fa-regular fa-eye-slash"></i>'}
            </span>
          </td>
          <td class="px-4 py-3 text-center space-x-2">
            <a href="/admin/service/edit/${s._id}"
               class="">
               <i class="fa-solid fa-pen-to-square hover:text-blue-600"></i>
               </a>

            <a href="/admin/service-package/${s._id}"
               class="hover:text-green-500"><i class="fa-solid fa-box-open "></i></a>

            <button onclick="deleteService('${s._id}')"
                    class="">
                    <i class="fa-solid fa-trash-can  hover:text-blue-600"></i>
                    </button>
          </td>
        </tr>
      `;
    });
  });

function deleteService(id){
  if(!confirm("Xóa dịch vụ này?")) return;

  fetch(`/admin/service/delete/${id}`, { method: "DELETE" })
    .then(res => res.json())
    .then(res => {
      if(res.success) location.reload();
      else alert("Xóa thất bại");
    });
}
</script>
