<div class="flex justify-between items-center">
  <h2 class="font-bold">Customize section/ Tùy chỉnh cấu hình web <i class="text-blue-500 hover:cursor-pointer fa-regular fa-circle-question hover:scale-150"></i></h2>
  <button
    id="btn_cta_save_config"
    class="font-bold px-4 py-3 rounded-lg border border-gray-300 bg-blue-500 text-white"
  >
    Save config
  </button>
</div>
<!-- page info -->
<section id="pageinfo" >
  <div id="s_pageinfo" >
    <div class="card-body">
      <div class="row">
        <label for="" class="form-label">Email</label>
        <input
          type="text"
          name="pageinfo_email"
          value="<%#=(pc&&pc.pageinfo)?pc.pageinfo.email:''%>"
          class="form-control border border-gray-300 w-full rounded-lg px-3 py-2"
          placeholder="admin@gmail.com"
        />
        <label for="" class="form-label">Phone number</label>
        <input
          type="text"
          name="pageinfo_phone"
          class="form-control px-3 py-2 border border-gray-300 rounded-lg w-full"
          value="<%#=(pc&&pc.pageinfo)?pc.pageinfo.phone:''%>"
          placeholder="19001900"
        />
        <label for="" class="form-label">Zalo</label>
        <input
          type="text"
          name="pageinfo_zalo"
          class="form-control px-3 py-2 border border-gray-300 rounded-lg w-full"
          value="<%#=(pc&&pc.pageinfo)?pc.pageinfo.zalo:''%>"
          placeholder="19001900"
        />
        <label for="" class="form-label">Address</label>
        <input
          type="text"
          name="pageinfo_address"
          class="form-control px-3 py-2 border border-gray-300 rounded-lg w-full"
          value="<%#=(pc&&pc.pageinfo)?pc.pageinfo.address:''%>"
          placeholder="123 Đường ABC, Quận XYZ, TP.HCM"
        />
        <label for="" class="form-label">Footer title</label>
        <input
          type="text"
          name="footertitle"
          class="form-control px-3 py-2 border border-gray-300 rounded-lg w-full"
          value="<%#=(pc&&pc.pageinfo)?pc.pageinfo.footer_title:''%>"
          placeholder="Title...."
        />
        <br />
        <hr />
        <label for="" class="form-laebl">Website name</label>
        <input
          type="text"
          id="webname"
          class="form-control px-3 py-2 border border-gray-300 rounded-lg w-full"
          placeholder="Ex:19001900"
          value="<%#=(pc&&pc.pageinfo)?pc.pageinfo?.title:''%>"
        />
        <label for="" class="form-laebl">Desc</label>
        <input
          type="text"
          id="desc"
          class="form-control px-3 py-2 border border-gray-300 rounded-lg w-full"
          placeholder="Ex:19001900"
          value="<%#=(pc&&pc.pageinfo)?pc.pageinfo?.desc:''%>"
        />
        <label for="" class="form-laebl">Keyword</label>
        <input
          type="text"
          id="keywords"
          class="form-control px-3 py-2 border border-gray-300 rounded-lg w-full"
          placeholder="Ex:19001900"
          value="<%#=(pc&&pc.pageinfo)?pc.pageinfo?.keywords:''%>"
        />
        <label for="" class="form-laebl">Google Analytics</label>
        <input
          type="text"
          id="gg_a"
          class="form-control px-3 py-2 border border-gray-300 rounded-lg w-full"
          placeholder="Ex:19001900"
          value="<%#=(pc&&pc.pageinfo)?pc.pageinfo?.gg_a:''%>"
        />
        <label for="" class="form-laebl">Google Webmaster Tool</label>
        <input
          type="text"
          id="gg_wt"
          class="form-control px-3 py-2 border border-gray-300 rounded-lg w-full"
          placeholder="Ex:19001900"
          value="<%#=(pc&&pc.pageinfo)?pc.pageinfo?.gg_wt:''%>"
        />
        <label for="" class="form-label">Image share</label>
        <div class="input-group">
          <button class="btn btn-outline-success cta-choose-img">
            Choose Image
          </button>
          <input
            type="text"
            name="og_share"
            class="form-control px-3 py-2 border border-gray-300 rounded-lg w-full"
            placeholder="path value..."
            value="<%#=(pc&&pc.pageinfo)?pc.pageinfo?.og_share:''%>"
          />
        </div>
        <div class="preview-wrapper">
          <img
            src="<%#=(pc&&pc.pageinfo)?pc.pageinfo?.og_share:'/imgs/default.png'%>"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
